<template>
  <h1>${heading}</h1>

  <div class="alert alert-info">Please sign in to enable the protected routes.</div>

  <p>To do that you will need a MongoDB running on localhost.</p>

  <p>email: joe@home.com</p>
  <p>password: demo</p>

  <h2>Sample binding</h2>
  <form class="form" submit.trigger="submit()">
    <div class="form-group">
      <label class="control-label" for="firstName">First name:</label>
      <input type="text" value.bind="firstName" class="form-control" id="firstName" placeholder="First name">
    </div>
    <div class="form-group">
      <label class="control-label" for="lastName">Last name:</label>
      <input type="text" value.bind="lastName" class="form-control" id="lastName" placeholder="Last name">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Test</button>
    </div>
  </form>
</template>