<template>
  <require from='../filters/sort'></require>
  <require from='../filters/contains'></require>
  <require from='font-awesome'></require>

  <h3>
    <div class="col-xs-12 col-sm-6 col-md-9">
      People
    </div>
    <form role="form" class="form input-group form-search col-xs-12 col-sm-6 col-md-3">
      <input type="text" class="form-control search-query" value.bind="filter" placeholder="Filter" autofocus>
          <span class="input-group-btn">
            <button type="button" class="btn btn-primary" show.bind="filter" click.delegate="clearFilter()"
                    tabindex="-1">
              <div class="glyphicon glyphicon-remove"></div>
            </button>
            <button type="submit" class="btn btn-primary" data-type="last" click.delegate="loadList()" tabindex="-1">
              Search
            </button>
          </span>
    </form>
  </h3>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Last Name</th>
      <th>First Name</th>
      <th>Email</th>
      <th width="0"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="clickable" click.delegate="viewDetails(person._id)"
        repeat.for="person of list | sort:'lastName':'ascending'">
      <td>${person.lastName}</td>
      <td>${person.firstName}</td>
      <td>${person.email}</td>
      <td width="0">
        <nobr>
          <div class="fa fa-desktop" show.bind="person.roles | contains:'admin'"></div>
          <div class="fa fa-car" show.bind="person.roles | contains:'driver'"></div>
          <div class="fa fa-male" show.bind="person.roles | contains:'patroller'"></div>
        </nobr>
      </td>
    </tr>
    <tr>
      <td colspan="3" if.bind="!list.length">
        <i>No people found</i>
      </td>
    </tr>
    </tbody>
  </table>
</template>