<template>
  <h1>
    ${fullName}
  </h1>
  <hr>
  <div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-4 p-b-2">
      <h3>Details</h3>
      <form class="form" submit.trigger="updateDetails()">
        <div class="form-group">
          <label class="control-label" for="firstName">First name:</label>
          <input type="text" value.bind="firstName" class="form-control" id="firstName" placeholder="First name">
        </div>
        <div class="form-group">
          <label class="control-label" for="lastName">Last name:</label>
          <input type="text" value.bind="lastName" class="form-control" id="lastName" placeholder="Last name">
        </div>
        <div class="form-group">
          <label class="control-label" for="landPhone">Land phone:</label>
          <input type="text" value.bind="landPhone" class="form-control" id="landPhone" placeholder="09 0000000">
        </div>
        <div class="form-group">
          <label class="control-label" for="mobilePhone">Mobile phone:</label>
          <input type="text" value.bind="mobilePhone" class="form-control" id="mobilePhone"
                 placeholder="021 00000000">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
      <hr>
      <h3>Password</h3>
      <form class="form" submit.trigger="updatePassword()">
        <div class="form-group">
          <label class="control-label" for="oldPassword">Old password:</label>
          <input type="text" class="form-control" id="oldPassword" placeholder="">
        </div>
        <div class="form-group">
          <label class="control-label" for="newPassword">New password:</label>
          <input type="text" class="form-control" id="newPassword" placeholder="">
        </div>
        <div class="form-group">
          <label class="control-label" for="confirmPassword">Confirm password:</label>
          <input type="text" class="form-control" id="confirmPassword" placeholder="">
        </div>
        <div class="form-group">
          <button class="btn btn-danger" type="submit">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</template>