<template>
  <ul class="nav navbar-nav navbar-right">
    <li if.bind="!isAuthenticated">
      <a href="#" data-toggle="dropdown">Sign in</a>
      <ul class="dropdown-menu">
        <li class="signin">
          <div class="row">
            <div class="col-md-12">
              Enter credentials
              <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputEmail2">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address"
                         required autofocus value.bind="email">
                </div>
                <div class="form-group">
                  <label class="sr-only" for="exampleInputPassword2">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password"
                         required value.bind="password">
                </div>
                <div class="form-group clearfix">
                  <a href="" class="btn btn-link pull-right">Forget the password ?</a>
                </div>
                <div class="form-group">
                  <button type="submit" click.delegate="signIn()" class="btn btn-primary btn-block">Sign in</button>
                </div>
              </form>
            </div>
          </div>
        </li>
      </ul>
    </li>
    <li if.bind="isAuthenticated">
      <a href="#" data-toggle="dropdown">${me.email}</a>
      <ul class="dropdown-menu">
        <li class="signin">
          <div class="row">
            <div class="col-md-12">
              Signed in
              <div class="form-group">
                <button type="submit" click.delegate="signOut()" class="btn btn-default btn-block">Sign out</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</template>