<template>
  <div class="footer">
    <div class="container">
      <div class="clearfix">
        <dl class="footer-nav">
          <dt class="nav-title">PORTFOLIO</dt>
          <dd class="nav-item"><a href="#">Web Design</a></dd>
          <dd class="nav-item"><a href="#">Branding &amp; Identity</a></dd>
          <dd class="nav-item"><a href="#">Mobile Design</a></dd>
          <dd class="nav-item"><a href="#">Print</a></dd>
          <dd class="nav-item"><a href="#">User Interface</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">ABOUT</dt>
          <dd class="nav-item"><a href="#">The Company</a></dd>
          <dd class="nav-item"><a href="#">History</a></dd>
          <dd class="nav-item"><a href="#">Vision</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">GALLERY</dt>
          <dd class="nav-item"><a href="#">Flickr</a></dd>
          <dd class="nav-item"><a href="#">Picasa</a></dd>
          <dd class="nav-item"><a href="#">iStockPhoto</a></dd>
          <dd class="nav-item"><a href="#">PhotoDune</a></dd>
        </dl>
        <dl class="footer-nav">
          <dt class="nav-title">CONTACT</dt>
          <dd class="nav-item"><a href="#">Basic Info</a></dd>
          <dd class="nav-item"><a href="#">Map</a></dd>
          <dd class="nav-item"><a href="#">Conctact Form</a></dd>
        </dl>
      </div>
      <div class="footer-copyright text-center">Copyright © 2014 Flathemes.All rights reserved.</div>
    </div>
  </div>
</template>