<template>
  <require from="font-awesome/css/font-awesome.css"></require>
  <require from='./parts/nav-bar'></require>
  <require from='./parts/footer.html'></require>

  <nav-bar></nav-bar>

  <div class="page-host">
    <div class="container">
      <router-view></router-view>
    </div>
    <footer></footer>
  </div>

</template>